html {
    font-family: Arial, Helvetica, sans-serif;
}

.main-title {
    color: white;
}

body {
    background: linear-gradient(#1c1b29, #292c3d);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.card {
    margin: 0 auto;
    background-color: #1c212d;
    border-radius: 12px;
    width: 24rem;
    padding: 12px;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-color: #ffffff;
}

h2 {
    text-align: center;
    color: #ffffff;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    color: #ffffff;
    padding-bottom: 8px;
}

p {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    webkit-appearance: none;
    border: none;
    background-color: #292c3d;
    padding: 12px;
    border: 1px solid #1c212d;
    border-radius: 6px;
    width: auto;
    color: #ffffff;
}

button {
    width: fit-content;
    padding: 12px 24px 12px 24px;
    background-color: #13c57e;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: 0.4s;
}

button:hover {
    background-color: #FFD700;
    color: #1c1b29;
}

.toRegister {
    color: #ffffff;
    outline: none;
    flex-direction: row;
    align-items: center;
}

.text-register {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.text-register:hover {
    background: azure;
    color: #292c3d;
}